* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
main {
  flex: 1;
  display: flex;
}

h1 {
  font-size: 5rem;
  font-family: "Pacifico", cursive;
  margin: 40px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
span {
  color: #11d5fc;
}
iframe {
  border-radius: 10px;
}
footer {
  text-align: right;
  color: midnightblue;
  margin: 50px 20px;
}
a {
  text-decoration: none;
  color: midnightblue;
}
ul {
  list-style: none;
  text-align: justify;
  padding: 20px;
}
li {
  margin: 10px 0;
  animation-name: grow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.tile-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}
.image {
  display: inline-block;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 20px;
}
.card-text {
  text-align: justify;
}
.content {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  footer {
    text-align: center;
    margin-top: 20px;
  }
  .header {
    text-align: center;
  }
  iframe {
    display: none;
  }
  .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  .card {
    margin: 0;
  }

  .tile-image {
    width: 75%;
    height: 50%;
  }
  .card-text {
    text-align: center;
    padding: 0 20px;
  }
  .card-title {
    text-align: center;
  }
  .project-title {
    display: block;
    text-align: center;
  }
}
